body{
    overflow-x: hidden;
}

#estilo-jogo{
    background-color: black;
}

#inicio-game{
    background-image: url('imagens/inicio.jpg');
    background-size:contain;
    margin-left: 200px;
    height: 500px;
    width: 700px;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    border: 1px solid rgb(233, 230, 230);
    box-shadow: 5px 5px 10px black;
    
}
#game{
   padding-top: 60px;
   color: rgb(43, 39, 18);
   font-family: 'Gorditas', cursive;
}

#jogo{
    border: 2px solid rgb(156, 155, 155);
    
}
#barra-inicio{
    border: 2px solid rgb(156, 155, 155);
    width: 200px;
    height: 485px;
    padding: 5px;  
    margin-top: 30px; 
    margin-left: 25px;
    background-color: rgb(77, 117, 202);
}

#barra-jogo{
    width: 100px;
    height: 80px;
    text-align: center;
    display: flex;
    margin: auto;
    margin-bottom: 60px;    
}
#barra-jogo img{
    width: 230px;
    height: 100px;
}
#barra-jogo span{
    font-size: 30px;
    margin: auto;
    margin-left: 30px;
 
}
#barra-jogo-cronometro{
    width: 200px;
    height: 130px;
    text-align: center;
    margin-top: 60px;
}

#imagem{
    position: relative;
    left: 240px;
    bottom: 499px;
}
#imagem img{
   width: 600px;
   height: 500px;
}

.cronometro{
    font-size: 30px;
    position: static;
    left: 100px;
    margin-top: -80px;
}

.posicao{
    position: relative;
    bottom: 1000px;
    left: 250px;
    width: 560px;

}
